.notifications__container {
  display: flex;
  align-items: center;
  position: relative;
}

.notification_icon {
  width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms ease;
}

.notification_icon:hover {
  opacity: 1;
}

.notification_icon-active {
  opacity: 1;
  animation: vibrating 0.3s infinite alternate;
}

@keyframes vibrating {
  from {
    transform: translateY(0) rotate(10deg);
  }
  to {
    transform: translateY(0) rotate(-10deg);
  }
}

.notificationsItems__container {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 17rem;
  right: 0;
  top: 3rem;
  background-color: var(--color-btn-bg);
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary);
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow-y: auto;
}

.notificationsContainer__active {
  visibility: visible;
  max-height: 25rem;
  opacity: 1;
  max-height: 20rem;
}
