.account__container {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  position: relative;
}

.account_icon {
  width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
