.listItems {
  display: flex;
  flex-wrap: wrap;
}

.list__container {
  margin: 1rem;
  width: 31rem;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.5fr 3fr 0.7fr;
  transition: 300ms ease;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
}

.list__container:hover {
  box-shadow: 0px 0px 15px #f5962195;
  border: 1px solid #f59421;
}

/* ---------------mod__icon-container--------------- */

.mod__icon-container {
  position: absolute;
  width: 100%;
}

.mod__icon {
  width: 100%;
  height: auto;
}

/* ---------------top__options-container--------------- */

.top__options-container {
  grid-row: 1/2;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid #f59421;
  border-left: 1px solid #f59421;
  border-right: 1px solid #f59421;
  width: 30%;
  min-height: 100%;
  margin: auto;
  border-radius: 0 0 1rem 1rem;
  padding: 0 0.5rem;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.add_icon {
  width: 1.3rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.add_icon-button__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc__icon,
.console__icon {
  width: 1.2rem;
  aspect-ratio: 1;
}

/* ---------------bottom__stats-container--------------- */

.bottom__stats-container {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  border-top: 1px solid #f59421;
  border-left: 1px solid #f59421;
  border-right: 1px solid #f59421;
  grid-row: 3/4;
  width: 70%;
  margin: auto;
  border-radius: 2rem 2rem 0 0;
  padding: 0 0.5rem 0.1rem;
  text-align: center;
}

.mod__title {
  font-size: 1rem;
  font-weight: 500;
}

.bottom__info-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1.25fr 0.1fr 0.75fr 0.1fr 0.75fr 0.1fr 1.25fr;
}

.infoLine {
  display: inline-block;
  width: 1px;
  height: 1rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  opacity: 60%;
}

.info__icon {
  width: 1rem;
}

.individual__info-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 0.4rem;
}

.infoTest {
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--color-text-secondary-2);
}
