.listItems__container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.listItems__titleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.listItems__loadingIcon {
  width: 2rem;
  grid-column: 2/3;
  margin: auto;
  animation: listItemLoadingIconAnim 2s linear infinite;
}

@keyframes listItemLoadingIconAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.listItems__modsTitle {
  grid-column: 1/2;
  font-size: 2rem;
  font-weight: lighter;
  color: var(--color-text-secondary-1);
}

.list__item-container {
  width: 100%;
  height: 12rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 200ms;
  padding: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr;
  background-color: #4141411f;
}

.list__item-container:hover {
  /* border: 1px solid #f59421; */
  background-color: #52525248;
}

.mod__icon-container {
  grid-column: 1/2;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 310px;
}

.mod__icon {
  width: 100%;
  min-height: 100%;
  object-fit: contain; /* Controlar cómo se ajusta la imagen */
}

/* -------------------- */

.modPrincipalSection__container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1rem;
  justify-content: space-between;
}

.modPrincipalSection__title {
  font-size: 2rem;
}

.modPrincipalSection__description {
  font-size: 0.9rem;
  font-weight: lighter;
  width: 50%;
  color: var(--color-text-secondary-1);
}

.modPrincipalSectionStats__container {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: lighter;
  gap: 2rem;
}

.modPrincipalCompatibility__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: lighter;
  font-size: 0.9rem;
}

.modPrincipalSectionStats__compatibility {
  margin-right: 0.3rem;
  font-weight: 400;
}

.principalSectionCompatibility__icon {
  width: 1rem;
}

.modPrincipalSection__date-title {
  margin-right: 0.5rem;
  font-weight: 400;
}

.compatibilityGame__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modPrincipalSection__game {
  margin-left: 1rem;
  font-weight: 400;
}

.compatibilityGame__icon {
  width: 1.5rem;
}

.modPrincipalSectionOptions__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.modPrincipalSectionButtons__container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.modPrincipalSectionButtons__container button {
  width: 3rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-body);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 200ms;
}

.modPrincipalSectionButtons__container:hover button:hover {
  border: 1px solid rgb(255, 196, 0);
}

.principalSectionButton {
  width: 1rem;
}

.principalSectionDownload__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.principalSectionDownload__count {
  font-weight: lighter;
}

.principalSectionDownload__icon {
  width: 1rem;
  aspect-ratio: 1;
}

/* Medias */

@media (max-width: 880px) {
  .listItems__container {
    padding: 0;
    gap: 0;
  }
  .listItems__titleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .list__item-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
    border-radius: 0;
    background-color: var(--color-body);
    margin-bottom: 3rem;
  }
  .modPrincipalSectionOptions__container {
    grid-column: 2/3;
  }
  .mod__icon-container {
    grid-column: 1/3;
    width: 100%;
  }

  .modPrincipalSection__container {
    grid-column: 1/2;
    padding: 0;
  }

  .modPrincipalSection__description {
    display: none;
  }

  .mod__icon {
    width: 100%;
  }

  .modPrincipalSectionStats__container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }

  .modPrincipalSectionStats__container span {
    display: none;
  }

  .modPrincipalSection__title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 0.9rem;
    width: 100%;
  }

  .principalSectionDownload__container {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .principalSectionDownload__icon {
    width: 1.5rem;
  }

  .principalSectionDownload__count {
    font-size: 1.5rem;
  }
  .modPrincipalCompatibility__container {
    gap: 1rem;
  }
  .principalSectionCompatibility__icon {
    width: 1.5rem;
  }
  .compatibilityGame__container {
  }

  .listItems__modsTitle {
    display: none;
  }
}

@media (max-width: 1400px) {
  .modPrincipalSection__game {
    margin: 0;
  }
  .principalSectionButton {
    display: none;
  }

  /*  .modPrincipalSection__title {
    font-size: 1.5rem;
  } */

  .modPrincipalSection__container {
    justify-content: space-between;
  }
  .modPrincipalSectionStats__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    gap: 0.5rem;
  }
}
