.listItems__container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list__item-container {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 200ms;
  padding: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: #4141411f;
}

.list__item-container:hover {
  /* border: 1px solid #f59421; */
  background-color: #52525248;
}

.mod__icon-container {
  grid-column: 1/2;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
}

.mod__icon {
  min-width: 100%;
  aspect-ratio: 16/9;
}

/* -------------------- */

.modPrincipalSection__container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1rem;
  justify-content: space-between;
  /* border: 1px solid #f59421; */
}

.modPrincipalSection__title {
  font-size: 2rem;
  font-weight: 500;
}

.modPrincipalSection__description {
  font-weight: lighter;
  width: 70%;
  color: var(--color-text-secondary-1);
}

.modPrincipalSectionStats__container {
  width: 100%;
  display: flex;
  font-weight: lighter;
  gap: 2rem;
}

.modPrincipalCompatibility__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: lighter;
  font-size: 0.9rem;
}

.modPrincipalSectionStats__compatibility {
  margin-right: 0.3rem;
  font-weight: 400;
}

.principalSectionCompatibility__icon {
  width: 1rem;
}

.modPrincipalSection__date-title {
  margin-right: 0.5rem;
  font-weight: 400;
}

.compatibilityGame__container {
  display: flex;
  align-content: center;
  gap: 0.5rem;
}

.modPrincipalSection__game {
  margin-left: 1rem;
  font-weight: 400;
}

.compatibilityGame__icon {
  width: 1.5rem;
}

.modPrincipalSectionOptions__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.modPrincipalSectionButtons__container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.modPrincipalSectionButtons__container button {
  width: 3rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-body);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 200ms;
}

.modPrincipalSectionButtons__container:hover button:hover {
  border: 1px solid rgb(255, 196, 0);
}

.principalSectionButton {
  width: 1rem;
}

.principalSectionDownload__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.principalSectionDownload__count {
  font-size: 1.2rem;
  font-weight: 300;
}

.principalSectionDownload__icon {
  width: 1rem;
  aspect-ratio: 1;
}
