.list__container {
  width: 30rem;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  transition: 300ms ease;
  border: 1px solid transparent;
  background-color: var(--color-secondary);
}

.list__container:hover {
  box-shadow: 0px 0px 15px #f5962195;
  border: 1px solid #f59421;
}

.mod__icon {
  width: 100%;
}
