.levels__container {
  padding: 1rem 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title__fc {
  background: var(--yellowAndOrange-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0.2rem 0 0;
}

.levels__section {
  width: 80%;
  height: 50px;
  background: var(--bg-levels);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
