.filters__sections {
  display: flex;
  gap: 2rem;
}

.button_filter {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid var(--color-secondary);
  transition: 300ms ease;
  will-change: transform;
  background-color: var(--color-body);
}

.button_filter:hover {
  background-color: var(--color-secondary);
}

.active__button-filter {
  box-shadow: 0px 0px 10px #f55d21;
  border: 1px solid transparent;
  background: var(--background-border);
}

.icon__filters-section {
  width: 15px;
  aspect-ratio: 1;
}

@media (max-width: 880px) {
  .filters__sections {
    display: none;
  }
}
