.nav__container {
  border-right: 1px solid var(--color-secondary);
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 16, 15, 0.7);
  transition: 300ms;
}

@media (max-width: 880px) {
  .nav__container {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    width: 100vw;
  }

  .nc-active {
    left: 0;
  }
}
