.account__sections-container {
  position: absolute;
  right: -1rem;
  top: 3rem;
  min-width: 12rem;
  max-height: 0;
  background-color: var(--color-btn-bg);
  transition: max-height 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  opacity: 0;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary);
  visibility: hidden;
  transition: 300ms all ease;
}

.options__active {
  visibility: visible;
  max-height: 20rem;
  opacity: 1;
}

.button__toggle-component {
  width: 1.5rem;
  position: absolute;
  bottom: -0.35rem;
  right: -0.35rem;
  cursor: pointer;
  transform-origin: center;
  transition: 100ms all ease;
  will-change: transform;
}

.button__toggle-component:hover {
  transform: scale(1.1);
}
