.titleAndDownload__container {
  margin: 1.5rem 0;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-body-variant);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.expandedContent__title-container {
  width: 100%;
}

.expandedContent__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.buttonsExpandedContent__container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.buttonSmall__container {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 880px) {
  .expandedContent__title {
    font-size: 0.7rem;
    font-weight: 400;
  }

  .buttonSmall__container {
    border: 1px solid;
    width: 2rem;
    display: none;
  }

  .titleAndDownload__container .expandedContent__button-download {
    width: 4rem;
    font-size: 0.6rem;
    height: 2rem;
  }
}
