.expandedContent__container {
  position: relative;
  width: 60vw;
  max-height: 90vh;
  border-radius: 1rem;
  overflow: auto;
  background-color: var(--color-body);
  padding: 1rem;
}

.expandedContentBtn__close {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  z-index: 2;
  width: 1.5rem;
  aspect-ratio: 1;
}

.expandedContentBtn__return-img {
  width: 100%;
  aspect-ratio: 1;
}

.slider__container-expandedContent {
  width: 100%;
}

.swiperComponent__container-expandedContent {
  width: 100%;
  overflow: hidden;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.expandedContent__imageMod {
  display: flex;
  align-items: center;
  width: 100%;
  aspect-ratio: 16/9;
  height: 100%;
}

.expandedContent__loadingIcon {
  height: 5rem;
  aspect-ratio: 1;
  position: absolute;
  animation: expandedContentLoadingIcon 2s linear infinite;
}

@keyframes expandedContentLoadingIcon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 880px) {
  .expandedContent__container {
    width: 100vw;
    min-height: 100vh;
    padding-top: 3rem;
    border-radius: 0;
  }
  .expandedContent__loadingIcon {
    height: 2rem;
  }

  .swiperComponent__container-expandedContent {
    height: 12rem;
    border-radius: 0.5rem;
  }

  .expandedContentBtn__close {
    display: inline-block;
  }
}
