.expandedContent__container {
  width: 60vw;
  max-height: 90vh;
  border-radius: 1rem;
  overflow: auto;
  background-color: var(--color-body);
  padding: 1rem;
}

.slider__container-expandedContent {
  width: 100%;
}

.swiperComponent__container-expandedContent {
  aspect-ratio: 16/9;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.imageTest {
  width: 100%;
}
