.expandedContent__container {
  position: relative;
  width: 60vw;
  max-height: 90vh;
  border-radius: 1rem;
  overflow: auto;
  background-color: var(--color-body);
  padding: 1rem;
}

.slider__container-expandedContent {
  width: 100%;
}

.swiperComponent__container-expandedContent {
  width: 100%;
  height: 39rem;
  overflow: hidden;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.expandedContent__imageMod {
  width: 100%;
  height: 100%;
}

.expandedContent__loadingIcon {
  height: 10rem;
  width: 10rem;
  position: absolute;
  animation: expandedContentLoadingIcon 2s linear infinite;
}

@keyframes expandedContentLoadingIcon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
