.game__icon-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}

/* -------------game__icon-container------------- */

.fs22__icon,
.fs19__icon {
  width: 3.3rem;
  aspect-ratio: 1;
  cursor: pointer;
}

button {
  transition: opacity 0.3s ease;
}

button.inactive {
  opacity: 0.3;
}

button.active {
  opacity: 1;
}
