.home {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 10% 90%;
  position: relative;
}

/* --------------------nav__container-------------------- */

.nav__container {
  grid-column: 1/2;
  grid-row: 1/3;
}

/* --------------------header__container-------------------- */

.header__container {
  grid-column: 2/3;
  grid-row: 1/2;
}

/* --------------------main__container-------------------- */

.main__container {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* Medias */

@media (max-width: 800px) {
  .home {
    max-width: 100%;
    max-height: 100%;
    padding-top: 4rem;
    gap: 1rem;
  }
  .main__container {
    grid-column: 1/3;
  }
  .bubbles__container {
    display: none;
  }
}

@media (max-width: 1250px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nav__container {
    display: none;
  }
}

.bubbles__container {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.burbujas {
  position: absolute;
  top: 0;
  left: 10px;
  width: 14rem;
  height: 14rem;
  background-color: #fa661e;
  border-radius: 50%;
  filter: blur(170px);
}

.burbujas2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  background-color: #fa661e;
  border-radius: 50%;
  filter: blur(220px);
}

.burbujas3 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 20rem;
  height: 20rem;
  background-color: #fa661e;
  border-radius: 50%;
  filter: blur(220px);
}
