.categoriesNav__container {
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.categoriesNav__title {
  cursor: pointer;
  font-size: 2rem;
  align-self: center;
  border-radius: 0.5rem;
}

.categoriesNav__title:hover {
  background-color: var(--color-secondary);
}

/* --------categoriesItem__container-------- */

.categoriesItem__container {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
}

/* --------categoriesPrincipalCategory__container-------- */

.categoriesPrincipalCategory__container {
  width: 100%;
  height: 2rem;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  transition: 200ms;
  cursor: pointer;
  color: var(--color-text-secondary-4);
  text-transform: capitalize;
}

.principalCategory-active {
  background-color: var(--color-secondary);
  color: white;
}

.categoriesPrincipalCategory__container:hover {
  background-color: var(--color-secondary);
}

.categoriesPrincipalCategory__title {
}

.categoriesPrincipalCategory__countMods {
  text-align: center;
}

/* --------subcategoryExpanded__container-------- */

.subcategoryExpanded__container {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-yellow);
  padding: 1rem;
  background-color: var(--color-body-variant);
}

/* --------subcategoryExpandedItem__container-------- */

.subcategoryExpandedItem__container {
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: capitalize;
  transition: 200ms;
  color: var(--color-text-secondary-4);
  height: 2rem;
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem;
  cursor: pointer;
}

.subcategoryExpandedItem__countMods {
  text-align: center;
}

.subcategoryExpandedItem__container:hover {
  background-color: var(--color-secondary);
}

.subcategory-active {
  background-color: var(--color-secondary);
  color: white;
  font-weight: 400;
}
