.optionsReusable__container {
  width: 12rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-body);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.optionsTriangle__icon {
  width: 1rem;
  aspect-ratio: 1;
}
