.filter__antique-container {
  position: relative;
  width: 13rem;
  min-height: 2rem;
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  align-items: center;
  border-radius: 5px;
  transition: 300ms ease;
  border: 1px solid var(--color-secondary);
  margin: 0 0 0 auto;
  user-select: none;
}

.filter__antique-container:hover {
  background-color: var(--color-secondary);
}

.filter__antique-container.expanded {
  transition: 300ms ease;
  background: var(--background-border);
}

.antique__title {
  font-weight: 400;
  font: 2rem;
  /* color: var(--color-secondary); */
  margin-left: 0.5rem;
}

.antique__title-selected {
  font-size: 0.9rem;
  opacity: 50%;
  font-weight: 300;
  margin-left: 0.5rem;
}

.filter__antique-icon {
  width: 0.8rem;
  aspect-ratio: 1;
  transition: 300ms ease;
  opacity: 40%;
}

.open {
  opacity: 100%;
  transform: rotate(180deg);
}

.antique__options-container {
  position: absolute;
  width: 12.5rem;
  top: 2rem;
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
  transition: 300ms ease;
  border: 1px solid transparent;
  background: var(--background-border);
  margin: 0.2rem;
}

.antique__option {
  padding-left: 0.5rem;
  color: var(--color-secondary);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.antique__option:hover {
  background-color: var(--color-secondary);
  color: white;
}

.antique__option-selected {
  color: white;
}
