.login__container {
  width: 25rem;
  overflow-y: auto; /* Habilitar desplazamiento vertical */
  pointer-events: auto;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background: var(--background-border);
}

.loginElements__container {
  width: 100%;
  height: 100%;
  background-color: var(--color-body);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.login__title {
  font-size: 1.6rem;
}
/* ------------------ */

/* ---------individualInput__container--------- */
.individualInput__container {
  display: flex;
  flex-direction: column;
  height: 3rem;
}

.userTextError {
  font-size: 0.8rem;
  height: 0.8rem;
  color: var(--color-orange);
}

/* ---------individualInput__container--------- */

.login__email-input,
.login__password-input {
  width: 15rem;
  height: 2rem;
  padding: 0 0.2rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  background-color: var(--color-secondary);
  outline: none;
  transition: 300ms ease;
  color: white;
  display: flex;
  flex-direction: column;
}

.login__email-input:focus,
.login__password-input:focus {
  box-shadow: 0px 0px 2px #f59421;
  border: 1px solid #f59421;
  border-radius: 0.25rem;
}

/* ---------loginPass__container--------- */

.loginPass__container {
  display: flex;
  flex-direction: column;
}

/* ------------------ */

.boton {
  width: 10rem;
  min-height: 1.6rem;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  transition: 300ms ease;
  font-size: 1rem;
  cursor: pointer;
  will-change: transform;
}

.boton:hover {
  border: 1px solid rgb(255, 196, 0);
}

.checkbox__element {
  border-radius: 0.25rem;
  margin: 0 0.2rem 0 0;
  cursor: pointer;
}

.check__text,
.forgotPassword {
  font-size: 0.8rem;
  font-weight: 300;
  white-space: nowrap;
}

.forgotPassword {
  cursor: pointer;
}

.registerHere {
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 300ms ease;
  border: 1px solid;
}

.registerHere:hover {
}

.loginPass__loadingIcon {
  width: 1rem;
  animation: slideComponentLooadingIcon 2s linear infinite;
}

@keyframes slideComponentLooadingIcon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
