.registered__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 12rem;
  height: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px #f55d21;
  transition: 300ms ease;
  border: 1px solid transparent;
  background: var(--background-border);
}
