.login__container {
  width: 30rem;
  height: 30rem;
  overflow-y: auto; /* Habilitar desplazamiento vertical */
  pointer-events: auto;
  text-align: center;
  background-color: lightslategrey;
}

.buttonPrueba:hover {
  background-color: lightblue;
}
